// Main colors
$white: #ffffff;
$dark: #3d5a80;
$orange: #e09f3e;
$gray: #aeaeae;
$red: #e5383b;
$yellow: #FFD700;


// Animation
$fast-animation: .3s ease-in-out;

// Media Query
$media-mob-sm: 320px;
$media-mob-md: 360px;
$media-mob-lg: 400px;

$media-tab-sm: 660px;
$media-tab-md: 768px;
$media-tab: 1024px;

$media-des-sm: 1280px;
$media-des-md: 1440px;
$media-des-lg: 1600px;

$media-desktop-xlg: 1920px;